body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}

.weather-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
  margin-bottom: 10px;
}

.weather-info p {
  margin: 5px 0;
}

/* Suggestions styling */
#suggestions {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  color: black !important;
}

.search-form input:focus + #suggestions {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

#suggestions option {
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(172, 40, 40) !important;
}

#suggestions option:hover {
  background-color: #f0f0f0;
}
